@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap);
@font-face {
  src: url(./../assets/fonts/baloo-bhai.ttf);
  font-family: 'baloo-bhai';
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #0C0B0B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'baloo-bhai';
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  font-family: 'baloo-bhai';
  font-size: 36px;
}

.big-titles {
  font-family: 'baloo-bhai';
  font-size: 64px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0C0B0B;
  padding: 20px;
  margin: 0 20px;
  min-height: 90vh;
  border-radius: 20px;
  -webkit-box-shadow: 2px 3px 25px -3px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 3px 25px -3px rgba(0, 0, 0, 0.28);
}

.nav img {
  margin-top: 10px;
  max-width: 60px;
}

.nav a {
  display: block;
  padding: 10px 20px;
}

.nav a img {
  max-width: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 0;
    width: 100%;
    border-radius: 0;
  }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 0;
    width: 100%;
    border-radius: 0;
  }
  .nav ul {
    display: none;
  }
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 400px;
  }
}

.profile__hellow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  max-height: 160px;
  border-radius: 14px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F5F7;
  position: relative;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .profile__hellow {
    height: 360px;
  }
}

.profile .avatar {
  position: absolute;
  right: 50px;
  top: -30px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .profile .avatar {
    right: 10px;
    max-width: 140px;
    top: 0;
  }
}

.profile__status {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  max-height: 160px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .profile__status {
    height: 260px;
  }
}

.profile__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile__bar input {
  background-color: #F5F5F7;
  border-radius: 8px;
  border: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.profile__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile__progress div {
  background-color: #F5F5F7;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: centser;
      -ms-flex-pack: centser;
          justify-content: centser;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__progress p {
  max-width: 100px;
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */