@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap);
@font-face {
  src: url(./../assets/fonts/baloo-bhai.ttf);
  font-family: 'baloo-bhai';
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #0C0B0B;
  height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'baloo-bhai';
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  font-family: 'baloo-bhai';
  font-size: 36px;
}

.big-titles {
  font-family: 'baloo-bhai';
  font-size: 64px;
}

@media screen and (max-width: 767px) {
  .big-titles {
    font-size: 40px;
  }
}

.title-medium {
  font-family: 'baloo-bhai';
  font-size: 16px;
}

.subtitle {
  font-family: 'baloo-bhai';
  font-size: 24px;
}

.btn {
  padding: 10px 20px;
  background-color: #0C0B0B;
  color: #FFFFFF;
  border: 1px solid #0C0B0B;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Roboto';
}

@media screen and (max-width: 767px) {
  .btn {
    font-size: 0.875em;
    padding: 10px;
  }
}

.btn--white {
  background-color: transparent;
  color: #0C0B0B;
  font-weight: 700;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.btn--white:hover {
  background-color: #0C0B0B;
  color: #FFFFFF;
  font-weight: 400;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0C0B0B;
  padding: 10px;
  margin: 5vh 20px;
  min-height: 90vh;
  border-radius: 20px;
  position: fixed;
  z-index: 99;
  -webkit-animation: nav-effect 0.8s forwards;
          animation: nav-effect 0.8s forwards;
  -webkit-box-shadow: 2px 3px 25px -3px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 3px 25px -3px rgba(0, 0, 0, 0.28);
}

.nav img {
  margin-top: 10px;
  max-width: 40px;
}

@media screen and (max-width: 767px) {
  .nav img {
    max-width: 30px;
    margin-top: 0;
    margin-left: 10px;
    padding: 10px 0;
  }
}

.nav a {
  display: block;
  padding: 10px 20px;
}

.nav a img {
  max-width: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 0;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 0;
    width: 100%;
    border-radius: 0;
    margin: 0;
    -webkit-animation: profile-up 0.8s forwards;
            animation: profile-up 0.8s forwards;
    padding: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .nav ul {
    display: none;
  }
}

.nav .nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: -300px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70vh;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    top: -500px;
    position: absolute;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
}

.menu-ativo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  position: relative;
  left: 0;
  opacity: 1;
}

.menu-btn {
  position: relative;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 999;
  margin-right: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-btn-burger {
  width: 35px;
  height: 4px;
  background: #FFFFFF;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 4px;
  background: #FFFFFF;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.menu-btn-burger::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.menu-btn-open .menu-btn-burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
}

.menu-btn-open .menu-btn-burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
  background: #F5F5F7;
}

.menu-btn-open .menu-btn-burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
  background: #F5F5F7;
}

.noscrol {
  overflow: hidden;
}

@-webkit-keyframes nav-effect {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
            transform: translate3d(-100px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
  }
}

@keyframes nav-effect {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
            transform: translate3d(-100px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
  }
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
  width: 100%;
}

.dashboard-wrap {
  height: 100vh;
  margin-left: 100px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .dashboard-wrap {
    padding-top: 80px;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .dashboard-wrap {
    padding-top: 20px;
    margin-left: 0;
  }
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  width: 100%;
  height: 170px;
  margin-top: 30px;
  -webkit-animation: profile-up .8s forwards;
          animation: profile-up .8s forwards;
}

@media screen and (max-width: 767px) {
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 400px;
    margin-top: 0;
  }
}

.profile__hellow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-height: 160px;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F5F7;
  position: relative;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .profile__hellow {
    height: 360px;
    margin-top: 0;
  }
}

.profile .avatar {
  position: absolute;
  right: 50px;
  top: -35px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .profile .avatar {
    right: 10px;
    max-width: 140px;
    top: 0;
  }
}

@media screen and (max-width: 767px) {
  .profile .avatar {
    right: 5px;
    max-width: 100px;
    top: 50px;
  }
}

.profile__status {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-height: 150px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .profile__status {
    height: 260px;
  }
}

.profile__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.profile__bar::after {
  content: url(./../assets/search.svg);
  z-index: 9;
  display: inline-block;
  position: absolute;
  left: 35px;
  top: 10px;
  width: 30px;
  height: 30px;
}

.profile__bar input {
  background-color: #F5F5F7;
  border-radius: 8px;
  border: 0;
  width: 70%;
  padding: 0 0 0 50px;
  position: relative;
  outline-style: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .profile__bar input {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .profile__bar input {
    max-width: 50%;
  }
}

.profile__bar button {
  background: transparent;
  border: 0;
  cursor: pointer;
  outline-style: none;
}

.profile__bar button img {
  width: 15px;
}

.profile__dropbar {
  position: absolute;
  right: 8px;
  bottom: -70px;
  width: 180px;
  height: 180px;
  z-index: 999999;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F5F7;
  -webkit-box-shadow: 2px 3px 10px -3px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 3px 10px -3px rgba(0, 0, 0, 0.28);
  -webkit-animation: main-up .4s forwards;
          animation: main-up .4s forwards;
}

.profile__dropbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile__dropbar ul a {
  display: block;
  padding: 10px;
  color: #0C0B0B;
}

.profile__dropbar.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

@media screen and (max-width: 767px) {
  .profile__progress {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.profile__progress div {
  background-color: #F5F5F7;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .profile__progress div {
    padding: 10px;
  }
}

.profile__progress p {
  max-width: 100px;
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .profile__progress p {
    font-size: 0.875em;
  }
}

@-webkit-keyframes profile-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
  }
}

@keyframes profile-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  -webkit-animation: main-up .8s forwards;
          animation: main-up .8s forwards;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@-webkit-keyframes main-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
  }
}

@keyframes main-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
  }
}

.courses {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.courses__current {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.courses__actual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F5F7;
  padding: 10px;
  border-radius: 14px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
}

.courses__actual p {
  font-size: 0.8125em;
  margin-top: 6px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .courses__actual {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 767px) {
  .courses__actual {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 10px;
  }
  .courses__actual div {
    max-width: 80px;
  }
}

.courses__next {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.courses__next button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline-style: none;
}

@media screen and (max-width: 767px) {
  .courses__next {
    display: none;
  }
}

.courses__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  -webkit-animation: main-up 1.2s forwards;
          animation: main-up 1.2s forwards;
}

.courses__list ul {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.courses__list .courses-nav {
  font-family: "baloo-bhai";
  font-size: 16px;
  cursor: pointer;
  color: #949494;
}

.courses__list .courses-nav li.active {
  color: #0C0B0B;
}

.courses__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.courses__item li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #F5F5F7;
  padding: 10px;
  border-radius: 14px;
  font-family: "Roboto";
  color: #0C0B0B;
}

.courses__item li img {
  max-width: 50px;
}

.courses__item li p {
  font-size: 0.875em;
  margin-top: 6px;
}

.courses__item li .hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

@media screen and (max-width: 767px) {
  .courses__item li .hours {
    display: none;
  }
}

.courses__item li .rated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

@media screen and (max-width: 767px) {
  .courses__item li .rated {
    display: none;
  }
}

.courses__item li .athor {
  min-width: 150px;
}

.courses__item .list-active {
  -webkit-animation: main-up .8s forwards;
          animation: main-up .8s forwards;
}

.statistics {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .statistics {
    text-align: center;
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .statistics {
    margin-top: 30px;
  }
}

.statistics__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .statistics__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.statistics__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-family: "baloo-bhai";
  font-size: 16px;
  cursor: pointer;
  color: #949494;
}

.statistics__nav ul li.active {
  color: #0C0B0B;
}

.statistics__nav button {
  background-color: transparent;
  border: 0;
  font-weight: 700;
  margin-right: 30px;
  cursor: pointer;
}

.statistics__nav button::after {
  content: url(./../assets/arrow_down.svg);
  margin-left: 10px;
}

.statistics__grafic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.premiun-area {
  margin-top: 30px;
}

.premiun-area__section {
  background-color: #F5F5F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
}

.premiun-area__section p {
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 200px;
  line-height: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .premiun-area__section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
}
/*# sourceMappingURL=main.css.map */