body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: $dark-color;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  @include device(tablet){
    flex-direction: column;
  }
  @include device(mobile){
    flex-direction: column;
  }
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

h1{
  font-family: 'baloo-bhai';
}