.main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: $gap-small;
  padding: $gap-smaller;
  animation: main-up .8s forwards;
  @include device(tablet) {
   flex-direction: column;
  }
  @include device(mobile) {
    flex-direction: column;
   }
}

@keyframes main-up {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}
