.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  background-color: $dark-color;
  padding: $gap-smaller;
  margin: 5vh $gap-small;
  min-height: 90vh;
  border-radius: 20px;
  position: fixed;
  z-index: 99;
  animation: nav-effect .8s forwards;
  @include box-shadow(2px 3px 25px -3px rgba(0, 0, 0, 0.28));
  & img {
    margin-top: $gap-smaller;
    max-width: 40px;
    @include device(mobile) {
      max-width: 30px;
      margin-top: 0;
      margin-left: $gap-smaller;
    }
  }
  & a {
    display: block;
    padding: $gap-smaller $gap-small;
    & img {
      max-width: 24px;
    }
  }
  @include device(tablet) {
    flex-direction: row;
    min-height: 0;
    width: 100%;
    border-radius: 0;
    margin: 0;
    & ul {
      display: flex;
    }
  }
  @include device(mobile) {
    flex-direction: row;
    min-height: 0;
    width: 100%;
    border-radius: 0;
    margin: 0;
    & ul {
      display: none;
    }
  }
}


@keyframes nav-effect {
  from {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}